/*bodyタグ*/
body{
	margin: 0;
}


/*フォント関係*/
@font-face{
	font-family: 'Myfont';
	src: url("../font/uzura.ttf");
}

.logo{
	font-family: Myfont;
}


/*header関連*/
.header{
	margin: 10px;
	height: 100px;
	background-color: white;
	background-size: cover;
	background-position: top;
	color: black;
}

.overlay{
	justify-content: center;
    align-items: center;
}

.headercontent{
	font-size: 50px;
    text-align: center;
    line-height: 100px;
}



/*container関連*/
.container{
	margin: 10px;
}


/*block-page内処理関連*/
.block-page{
	border: solid 1px;
	display: flex;
	margin: 10px;
	background-color: #F2F2F2;
}

.block-graph{
	flex-grow: 1;
	margin: 10px;
	width: 100%;
	text-align: center;
}

.block-graph img {
  	object-fit: cover;
  	width: 80%;
  	height: 80%;
}

.block-log{
	flex-grow: 1;
	margin: 10px;
	width: 100%;
}

.title-center{
	text-align: center;
}


/*setting-page内処理関連*/
.setting-page{
	font-family: Myfont;
	border: solid 1px;
	display: flex;
	margin: 10px;
	background-color: deepskyblue;
}

.setting-detail{
	border-radius: 8px;
	margin: 20px;
	padding: 10px;
	border: solid 1px;
	width: 100%;
	background-color: #F2F2F2;
}

.setting-detail-dropdown{
	text-align: center;
}

/*footer*/
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
}

