<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理者ページみたいな感じ</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="header">
        <div class="overlay">
            <div class="headercontent">
                <label class="logo">WAF Management Page</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block-page">
            <div class="block-graph">
                <div class="block-graph-title">
                    <h2>
                        Block Graph
                    </h2>
                </div>
                <img src="static/png/sample.png">
            </div>
            <div class="block-log">
                <div class="title-center">
                    <h2>
                        Block logs
                    </h2>
                </div>
                <div class="log-box">
                    {% for i in logs %}
                    <div class="log-detail">
                        {{ i }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="setting-page">
            {% for status in status_all %}
            <div class="setting-detail">
                <div class="title-center">
                    <h2>
                        {{ status[0] }}
                    </h2>
                </div>
                <div class="setting-detail-dropdown">
                    <form action="/api" method="post">
                        <select name="{{ status[0].lower() }}" class="select-in>
                            {% set value_list = [['custom', 'カスタム'], ['very_hard', 'とてもきつい'], ['hard', 'きつい'], ['soft', 'ゆるい'], ['very_soft', 'とてもゆるい']] %}
                            {% for value in value_list %}
                                {% if status[1] == value[0] %}
                                    <option value="{{ value[0] }}" selected>{{ value[1] }}</option>
                                {% else %}
                                    <option value="{{ value[0] }}">{{ value[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        <input type="submit" value="OK">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">
        <label>©️2020 system product</label>
    </div>
</body>
</html>